@import url('https://https://fonts.googleapis.com/css2?family=Poppins%3Awght%40100%3B200%3B300%3B400%3B500%3B600&display=swap%27%29%3B');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: black;
    color: white;
}

header {
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

embed {
    width: 100%;
    height: 100vh;
    /* Full viewport height */
    max-height: 1000px;
}

.logo {
    font-size: 3rem;
    color: violet;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover {
    transform: scale(1.1);
}

nav a {
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

ul {
    list-style: none;
    background: transparent;
    max-height: 1000px;
}

ul li {
    display: inline-block;
    position: relative;
}

ul li a {
    display: inline-block;
    padding: 1rem 2rem;
    color: white;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    font-size: 1.8rem;
    border-bottom: 3px solid transparent;
}

ul li ul.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background: black;
    display: none;
    padding: 1rem 0;
    border-radius: 0.5rem;
}

ul li a:hover {
    background: black;
}

ul li:hover ul.dropdown {
    display: block;
}

nav a:hover,
nav a.active {
    color: violet;
    border-bottom: 3px solid violet;
}

@media (max-width: 995px) {
    nav {
        position: absolute;
        top: 100%;
        right: 0;
        width: 40%;
        border-left: 3px solid violet;
        border-bottom: 3px solid violet;
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: black;
        border-top: 0.1rem solid violet;
    }

    nav.active {
        display: block;
    }

    nav a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    nav a:hover,
    nav a.active {
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid violet;
    }
}

section {
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

span {
    color: violet;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8rem;
    background-color: black;
}

.home .home-content h1 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content h3 {
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-img {
    border-radius: 50%;
}

.home-img img {
    position: relative;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.1);
    cursor: pointer;
    transition: 0.2s linear;
}

.home-img img:hover {
    font-size: 1, 8rem;
    font-weight: 500;
}

.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid violet;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem;
    transition: 0.3s ease;
}

.social-icons a:hover {
    color: black;
    transform: scale(1.3)translateY(-5px);
    background-color: violet;
    box-shadow: 0 0 25px violet;
}

.btn {
    display: inline;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: violet;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid violet;
    transition: 0.3s ease;
    cursor: pointer;

}

.btn:hover {
    color: black;
    transform: scale(1.3)translateY(-5px);
    background-color: violet;
    box-shadow: 0 0 25px violet;
}

.typing-text {
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.typing-text span {
    position: relative;
}

p {
    font-size: 20px;
    font-weight: 500;
    margin-top: 1rem;
    color: white;
}

.projects {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8rem;
    background-color: black;
}

.education {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8rem;
    background-color: black;
}

.education h2 {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1rem;
    margin-top: 1rem;
    color: white;
}

.education h3 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    margin-top: 1rem;
    color: white;
}

.education .education-content li {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
    color: white;
}

.education .education-content .certification-entry {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
    margin-top: 2rem;
    color: white;
}

.About {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8rem;
    background-color: black;
}

.About .about-content {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
    color: white;
}

.resume {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8rem;
    background-color: black;
}

.resume .resume-content {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
    color: white;
    padding-top: 5rem;
}

embed {
    width: 100%;
    height: 600px;
    border: 1px solid #ccc;
    margin-top: 20px;
    border-radius: 8px;
}